@import url(
  https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,
  700&subset=latin,
  cyrillic
);

body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background: #eee;
}

.header {
  box-shadow: 4px black;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 5px #aaa;
}

.header .inner {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 0;
}

.content {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 1px 1px 5px #aaa;
}

.green {
  color: #0f0;
}

.red {
  color: #f00;
}

a {
  padding: 5px;
}
