{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fake blogs</title>
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"
        />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="header">
        <div class="inner">
            <div style="float: left;">
                <a class="mr-5" href="/">Home</a>
                <a href="{% url 'voice_app:add_blog' %}">Create blog</a>
                <a href="{% url 'voice_app:add_cat' %}">Add category</a>
            </div>
            <div style="float: right">
                <a href="{% url 'voice_app:userinfo' %}">Info</a>
                <a href="{% url 'voice_app:change_nickname' %}">Switch nickname</a>
                <a href="{% url 'voice_app:relogin' %}">Change profile</a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="content">
    
        {% block content %}
        {% endblock content %}

    </div>
</body>
</html>