{% extends  "voice_app/_base.html" %}

{% block content %}

<form action="{% url 'voice_app:add_blog' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <input class="ui button primary" type="submit" value="Go">
    <a class="ui button" href="{% url 'voice_app:index' %}">Back</a>

</form>

{% endblock content %}