{% extends  "voice_app/_base.html" %}

{% block content %}

<h2>Categories:</h2>

{% for cat in cats %}

{% include "voice_app/partials/_cat.html" with cat=cat %}
<a href="{% url 'voice_app:edit_cat' %}?cat_id={{ cat.id }}">Edit</a>
<a class="red" href="{% url 'voice_app:remove_cat' %}?cat_id={{ cat.id }}">Delete</a>

{% endfor %}

{% endblock content %}