{% extends "voice_app/_base.html" %}

{% block content %}

{% for comment in comments %}

<p>
  {{ comment.nickname }}sd<br />
  {{ comment.content }}<br />
  <a href="{% url 'voice_app:edit_comment' %}?comment_id={{ comment.id }}">Edit</a>
  <a class="red" href="{% url 'voice_app:remove_comment' %}?comment_id={{ comment.id }}">Delete</a>
</p>

{% endfor %} {% endblock content %}
