{% extends  'voice_app/_base.html' %}

{% block content %}

{% for blog in blogs %}

<p>
    {% include "voice_app/partials/_blog.html" with blog=blog %}
    <a href="{% url 'voice_app:show_blog' %}?blog_id={{ blog.id }}">Go to blog</a>
</p>

{% endfor %}

{% endblock content %}