{% extends  "voice_app/_base.html" %}

{% block content %}

<h2>Comments:</h2>

{% for comment in comments %}

<p>
    {{ comment.nickname }}:
    <div style="position: relative; left: 10px; bottom: 10px;">
    {{ comment.content }}
    </div>

    {% if user_id == comment.creator_id %}

    <a href="{% url 'voice_app:edit_comment' %}?comment_id={{ comment.id }}">Edit</a>
    <a href="{% url 'voice_app:remove_comment' %}?comment_id={{ comment.id }}">Delete</a>

    {% endif %}
</p>

{% endfor %}

{% endblock content %}