{% extends "voice_app/_base.html" %} 

{% block content %}

<p>Quick links:</p>
<ul>
    <li><a href="{% url 'voice_app:relogin' %}">Relogin</a></li>
    <li><a href="{% url 'voice_app:userinfo' %}">User info</a></li>
    <li><a href="{% url 'voice_app:add_blog' %}">Add blog</a></li>
    <li><a href="{% url 'voice_app:blog_list' %}">View blogs</a></li>
    <li><a href="{% url 'voice_app:add_cat' %}">Add category</a></li>
    <li><a href="{% url 'voice_app:all_cats' %}">View categories</a></li>

    <li><a href="{% url 'voice_app:relogin' %}">Relogin</a></li>
    <li><a href="{% url 'voice_app:relogin' %}">Relogin</a></li>
</ul>

{% endblock content %}