{% extends 'voice_app/_base.html' %}

{% block content %}

{% if user_id == blog.creator_id %}

<p>
    <a href="{% url 'voice_app:edit_blog' %}?blog_id={{ blog.id }}">Edit</a>
    <a class="red" href="{% url 'voice_app:remove_blog' %}?blog_id={{ blog.id }}">Delete</a>
    <a href="{% url 'voice_app:add_post' %}?blog_id={{ blog.id }}">Add post</a>
</p>

{% endif %}

{% include "voice_app/partials/_blog.html" with blog=blog user_id=user_id %}

{% endblock content %}
