<h3>{{ post.title }}</h3>
<p style="padding: 0 0 10px 30px;">{{ post.content }}</p>
<p>
    <a href="{% url 'voice_app:all_comments' %}?post_id={{ post.id }}">Comments</a>
    <a href="{% url 'voice_app:add_comment' %}?post_id={{ post.id }}">Add comment</a>
</p>

<p>
    <a href="{% url 'voice_app:edit_post' %}?post_id={{ post.id }}">Edit</a>
    <a class="red" href="{% url 'voice_app:remove_post' %}?post_id={{ post.id }}">Delete post</a>
</p>
